.admin{
    padding: 30px;
    background-color: darkslategray;

}
.admin .parent{
    display: flex;
}

.admin .parent .products{
    flex: 3;
}

.admin .parent .coupons{
    flex: 2;
}

.admin .parent .form{
    border: 1px solid #5d5d5d;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.63);
    margin: 0 20px;
    text-align: left;
}

.admin .parent .form h3{
    color: rgb(16, 5, 5);
    text-align: center;
    padding: 12px;
}

.admin .parent .form .btn-container{
    text-align: center;
}

.admin .coupon-list,
.admin .product-list

{
    list-style: none;
}

.admin .coupon-list li,
.admin .product-list li
{
    border: 1px solid #8e9599;
    padding: 5px 20px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.admin .coupon-list li:hover,
.admin .product-list li:hover
{
    border-color: tomato;
    font-weight: 600;
}

.admin .product-list .prod-img{
    height: 60px;
}