.cart .prod-cart{
    display: flex;
    background-color: lightgray;
    border: 1px solid #9ba0a5;
    padding:6px;
    margin: 10px 20px;
    border-radius: 5px;
    align-items: center;
    
}
.cart .prod-cart img{
    height: 70px;
}
.cart .prod-cart h5{
    flex: 5;
}
.cart .prod-cart label {
    flex: 1;
    margin-bottom: 20px;
}
.cart .product-cart button{
    width: 75px;
    margin-right: 7px;
}

.cart .prod-cart label span{
    display:block;
    color: darkcyan;

}

.cart{
    padding-top: 20px;
    background-color: #11596a;
}

.cart h1{
    text-align: center;
    color: darkcyan;
}

.cart h3{

}

.cart .parent{
    display: flex;
}
.cart .list{
    flex: 2;
}
.cart .side{
    flex: 1;
    background-color: lightgray;
    margin-right: 30px;
    border: 1px solid #b8c9dc;
    border-radius: 6px;
    margin-top: 40px;
    padding-top: 30px;
}

.cart .side h6{
    font-size: 26px;
    color: darkcyan;
}
.cart .side h5{
    font-size: 28px;
    color: #11596a;
}