.navbar-menu{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(5, 56,77);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: red;
}